@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;800&display=swap');

html {
  font-size: 62.5%;
}

.header {
  background-color: white;
  justify-content: space-between;
  padding: 45px;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
}

.logo h1 {
  font-size: 2rem;
  margin-left: 0.5rem;
}

.menu li a {
  padding: 1rem 0.5rem;
  transition: 0.3s ease-in-out;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

.menu li a:hover {
  background-color: var(--nav-hover-color);
  color: white;
}

.menu li a.btn {
  background-color: var(--nav-hover-color);
  border-radius: 1rem;
  color: white;
  margin-left: 2rem;
  padding: 1rem 2rem;
}

.header, .logo, .menu {
  display: flex;
  align-items: center;
}
